body, html {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fondo {
    background-color: #34495e;
    min-height: 100vh; 
    height: auto;       
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 40px 15px; 
    box-sizing: border-box;
}

.card {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 90%; 
    max-width: 450px; 
    box-sizing: border-box; 
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    text-align: left;
}

form label {
    font-weight: 600;
    margin-bottom: -5px;
    color: #2c3e50;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    appearance: none;  /* Elimina el estilo predeterminado del navegador */
    -webkit-appearance: none; /* Para navegadores webkit (Safari, Chrome) */
    -moz-appearance: none; /* Para Firefox */
}

select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, .6);
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.botones p {
    margin: 0;
    color: #888;
}

.botones a {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.eliminar_boton {
    background-color: #e74c3c;
}

.eliminar_boton p {
    color: white;
}

.eliminar_boton p {
    margin: 0;
    padding: 0;
}

.eliminar_boton:hover {
    background-color: #c0392b;
}

.errores p {
    color: red;
    font-size: 14px;
    margin: 5px 0;
}

.errores {
    color: red;
}