body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

html, body {
    height: 100%;
}

.dashboard_container {
    display: flex;
    height: 100vh; 
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
}

.user_info_container {
    text-align: center;
    margin-bottom: 10px; 
}

.user_photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 5px; 
}

.user_info_container span {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 400px; 
    overflow-y: auto;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #34495e;
    transition: background-color 0.3s ease;
}

.sidebar .menu li a.active {
    background-color: #ffffff;
    color: #2c3e50;
    font-weight: bold;
    border-left: 5px solid #2c3e50;
}

.menu li a:hover {
    background-color: #44617e;
}

.logout_container {
    margin-top: 20px;
    text-align: center;
}

.logout_button {
    display: block;
    color: #fff;
    background-color: #e74c3c;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.logout_button:hover {
    background-color: #c0392b;
}

.main_content {
    padding: 20px;
    margin-left: 290px; 
    height: 100vh; 
    overflow-y: auto; 
    box-sizing: border-box;
    width: calc(100% - 250px); 
}